<footer
  class="bg-base-200 py-4 mt-8 text-center text-base-content/80 font-['Tiny5']"
>
  Made with
  <span class="animate-pulse">❤️</span>
  by
  <a
    href="https://github.com/Aflyingbed/Lettership"
    target="_blank"
    class="link link-primary no-underline"
    >Aflyingbed</a
  >
</footer>
